body {

    .rotate{
        transform: rotate(135deg); 
        background-color: white !important;
        transition: 1s;
    }

    font-size: 16px;

    .cv{
        @include flex-center;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        color: white;
        font-weight: 900;
    }


    .competences-section{

        padding: 3% 0%;
        background: $mainColor;
        h2{
            margin: 0;
            color: white;
            font-family: "Open Sans", sans-serif;
            padding: 5% 10%;
            font-size: 30px;
        }
        .competences{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background: $mainColor;
            width: 100%;
            .content{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .square{
                    cursor: pointer;
                    border: 3px solid white;
                    background-color: $mainColor;
                    width: 3%;
                    aspect-ratio: 1;
                    transition: 1s;
                    z-index: 2;
                }
                .line-square1{
                    position: absolute;
                    background-color: white;
                    border-radius: 10px;
                    width: 0%;
                    height: 1rem;
                    left: 10%;
                    z-index: 1;
                    transition: 1s;
                }

                .line-square2, .line-square3, .line-square4{
                    position: absolute;
                    background-color: white;
                    border-radius: 10px;
                    width: 0%;
                    height: 1rem;
                    left: 12.5%;
                    z-index: 1;
                    transition: 1s;
                }

            
            }
            .image-section{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding-top: 2%;
                .image{
                    background-color: #8fbacc30;
                    border-radius: 10px;
                    width: 15%;
                    aspect-ratio: 1;
                    transition: 1s;
                    transition-delay: 0.5s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: "Open Sans", sans-serif;
                    color: #8fbacc;
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                    .fab, .fas{
                        font-size: 124px;
                    }

                }
                .image:first-child{
                    background-color: #79A7B9;
                }
            }
        

        }
    }
}

body .compet1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    background-color: $backgroundColor;
    @include font;
    p{
        font-size: 24px;
    }
    
    .seed1    img {
        width: 800px;
        margin: 20px;
    }
    
}

body .compet2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    background-color: $backgroundColor;
    font-family: 'Open Sans', sans-serif;
    p{
        font-size: 24px;
    }
    
    .block1    img {
        width: 800px;
        margin: 20px;
    }
    .block2{
        text-align: end;
    }
}

@include xl{
    body .cv{
        margin-top: 200px;
    }
    body .compet1, .compet2{
        display: flex;
        flex-direction: column;
        .seed2, .block2{
            text-align: center !important;
        }
        img{
            display: none;
        }
    }
}