body {

    .rotate{
        transform: rotate(135deg); 
        background-color: white !important;
        transition: 1s;
    }

    font-size: 16px;

    .cv{
        @include flex-center;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        color: white;
        font-weight: 900;
        iframe{
            padding: 2%;
            border: 5px solid white;
        }
    }
    .explication-click{
        @include flex-center;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        color: white;
        font-weight: 900;
        img{
            padding: 2%;
            border: 5px solid white;
        }
    }


    .competences-section{

        padding: 3% 0%;
        background: $mainColor;
        h2{
            margin: 0;
            color: white;
            font-family: "Open Sans", sans-serif;
            padding: 5% 10%;
            font-size: 30px;
        }
        .competences{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background: $mainColor;
            width: 100%;
            .content{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .square{
                    cursor: pointer;
                    border: 3px solid white;
                    background-color: $mainColor;
                    width: 3%;
                    aspect-ratio: 1;
                    transition: 1s;
                    z-index: 2;
                }
                .square:hover{
                    background-color: #0c4c6744;
                }
                .line-square1{
                    position: absolute;
                    background-color: white;
                    border-radius: 10px;
                    width: 0%;
                    height: 1rem;
                    left: 10%;
                    z-index: 1;
                    transition: 1s;
                }

                .line-square2, .line-square3, .line-square4{
                    position: absolute;
                    background-color: white;
                    border-radius: 10px;
                    width: 0%;
                    height: 1rem;
                    left: 12.5%;
                    z-index: 1;
                    transition: 1s;
                }

            
            }
            .image-section{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding-top: 2%;
                .image{
                    background-color: #8fbacc30;
                    border-radius: 10px;
                    width: 15%;
                    aspect-ratio: 1;
                    transition: 1s;
                    transition-delay: 0.5s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: "Open Sans", sans-serif;
                    color: #8fbacc;
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                    .fab, .fas{
                        font-size: 124px;
                    }

                }
                .image:first-child{
                    background-color: #79A7B9;
                    color: white;
                }
            }
        

        }
    }
}



@include xl{
    body {
        .cv{
            margin-top: 25%;
            p{
                margin-block-end: 0.5rem;
                padding-bottom: 0.5rem;
                border-bottom: 5px solid white;
            }
            iframe{
                width: 90%;
                height: 190px;
                padding: 5% 0;
                border: none;
            }
        }
        .explication-click{
            p{
                margin-block-end: 0.5rem;
                margin: 4%;
                border-bottom: 5px solid white;
            }
            img{
                width: 90%;
                height: 190px;
                padding: 5% 0;
                border: none;
            }
        }

        .competences-section{
            h2{
                font-size: 24px;
                margin: 4% 4% 4% 5%;
                padding: 1% 1% 1% 0%;
                border-bottom: 5px solid white;
            }
            #front{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50rem ;
            }
            .competences{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 40rem;
                .content{
                    flex-direction: column;
                    grid-row: 1 / -1;
                    grid-column: 2 / 3;
                    span{
                        display: none;
                    }
                    .square{
                        width: 10%;
                    }
                }
                .image-section{
                    flex-direction: column;
                    align-items: flex-end;
                    grid-row: 1 / -1;
                    grid-column: 1 / 2;
                    .image {
                        width: 75%;
                        font-size: 18px;
                        .fab, .fas{
                            font-size: 54px;
                            margin-block-start: 0.5rem;
                        }
                        .p{
                            margin-block-start: 0.5rem;
                        }
                    }
                } 
            } 
        }
        } 

}