body{
    background-color: $backgroundColor;
    .pres{
        @include font;
        margin: 20px;
        video{
            width: 50%;
        }
    
    
        .compet1 {
            display: grid;
            grid-template-columns: 40% 60%;
            background-color: #8fbacc30;
            padding: 10px;
            border-radius: 10px;
             p{
                color: #0c4c67;

            }
            .image-sog{
                
                background: url("image/sog.png");
                
            }
            .image-secret{
                background: url("image/secret.jpg");
            }
            .image-fnc{
                background: url("image/fnc.png");
            }
            .image-nh{
                background: url("image/logo.png");
            }
            .seed1{
                min-height: 300px;
                grid-row: 1 / -1;
                grid-column: 1 / 2;
                margin: 5%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            p {
                grid-row: 1 / -1;
                grid-column: 2 / 3;
                display: flex;
                align-items: center;
            }
            
        }
    
        h2{
            margin: 40px;
            padding: 20px;
            background-color: #8fbacc30;
            @include flex-center;
        }
    
    
        .carousel{
            @include flex-center;
            margin: 50px 0px;
            min-height: 100px;
            iframe{
                width: 560px;
                height: 315px;
            }
        }
        
        
        .gallery_video{
            width: 50%;
        }
    
        .arrow-pres{
            height: 10%;
            width: 10%;
            cursor: pointer;
        }
    }
}

@include xl{
    body .pres{
        margin: 100px 20px 20px 20px;
        .compet1 {
            display: flex;
            margin: 50px 10px;
            background-color: $backgroundColor;

            .seed1{
                display: none;
            }

            p{
                line-height: 35px;
                color: black;
                position: static;
                text-shadow: none;
                text-align: center;

            }
        }
        .gallery_video{
            width: 90%;
        }
        hr{
            display: none;
        }

        .sovereign-image img{
            width: 110%;
        }
        .secret-image{
            display: none;
        }
    } 
}