body .cv{
    margin: 30px;
    @include flex-center;
    
}

body .compet1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    background-color: $backgroundColor;
    @include font;
    p{
        font-size: 24px;
    }
    
    .seed1    img {
        width: 800px;
        margin: 20px;
    }
    
}

body .compet2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    background-color: $backgroundColor;
    font-family: 'Open Sans', sans-serif;
    p{
        font-size: 24px;
    }
    
    .block1    img {
        width: 800px;
        margin: 20px;
    }
    .block2{
        text-align: end;
    }
}

@include xl{
    body .cv{
        margin-top: 200px;
    }
    body .compet1, .compet2{
        display: flex;
        flex-direction: column;
        .seed2, .block2{
            text-align: center !important;
        }
        img{
            display: none;
        }
    }
}