body .home{
    text-decoration: none;
    background-color: $backgroundColor;
    font-size: 20px;
    min-height: 100vh;
    padding: 50px 200px;
    padding-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 200px 200px 200px 250px;
}

body .home div {
    @include font;
    display: flex;
    align-items: center;
    padding: 30px;
}

.item1{
    font-size: 25px;
    padding: 0px;
    grid-column: 1 / 3;
}

.item2{
    background-image: url(image/moi.jpg);
    background-size: cover;
    min-height: 200px;
    background-position-x: center;
    grid-column: 1 / 3;
    grid-row: 2 / 6;
}

.item3{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.item4{
    
    grid-column: 3 / 6;
    grid-row: 4 / 6;
}

.item5{
    background-image: url(image/iim.jpg);
    background-size: cover;
    background-position-x: center;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.item6{
    
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

.item7{
    grid-column: 1 / -1;
    grid-row: 6 / 7;
}

.item8{
    
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / -1;
    grid-row: 7 / 8;
}

body section div > a {
    text-decoration: none;
    color: black;
}

@include xl{
    body .home {
        padding: 0px;
        display: block;
        .item5 {
            display: none;
        }
    }

    .item1{
        padding: 30px 0px 0px 30px;
    }

    

    .item8{
        flex-direction: column;
        align-items: center;
    }

    body section div > a {
        padding: 20px;
    }
}