header{
    background-image: url(image/pole.jpg);
    display: flex;
    background-position: 100% 25%;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

@include xl{
    header{
        display: none;
    }
}