@mixin font{
    font-family: 'Open Sans', sans-serif;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin xl {
    @media screen and (max-width: 960px) {
        @content;
    }
}

