<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Competences - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>

    <div class="cv"><iframe width="560" height="315" src="https://www.youtube.com/embed/sxPTr_4BfEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <section class="compet1">
      <div class="seed1"><img src="../image/code.jpg" alt=""></div>
      <div class="seed2"><h2>Mes compétences en Dévellopement Web ?</h2><p>Depuis maintenant plus d'1 an, je me familiarise avec les langages du web.<br> Encore novice en la matiere, je suis encore en cours d'apprentissage des langages listés ci-dessous,<br>Mon expérience et mes connaissances se limitent pour l'instant à ce que j'ai pu apprendre en cours et par mes propres travaux.<br>
      Pour ce qui est des langages front-end,back-end ou encore d'algorithmique que je maitrise, les voici listés :<br>- HTML<br>- CSS<br>- JavaScript<br>- PHP/SQL<br>- Python
      </p></div>
    </section>
    <section class="compet2">
      <div class="block2"><h2>Mes compétences en Création Design ?</h2><p>L'année dernière, lors de mon Année préparatoire, j'ai pu développer certaines compétences dans le domaine de la création & du design<br>Même si je ne suis plus dans un axe de création & de design, je continus tout de même de solliciter mes connaissances/compétences en la matiere pour mener à bien certains de mes projets et de poursuivre mon apprentissage personnel.<br>Initié à la suite Adobe, nous avons pu nous essayer à différents projets sur:<br>- Photoshop<br>- Illustrator<br>- After Effect<br>- Adobe XD<br>- InDesign<br></p></div>
      <div class="block1"><img src="../image/crea.jpg" alt=""></div>
    </section>
    <section class="compet1">
      <div class="seed1"><img src="../image/unity.jpg" alt=""></div>
      <div class="seed2"><h2>Mes compétences en Jeux Vidéo ?</h2><p>Lors de ma première année, mon année préparatoire, j'ai pu découvrir le monde du jeu vidéo, du moins j'ai pu me familiariser avec les bases du C# sur Unity.<br>Cette année là nous avons appris à imaginer ainsi qu'à concevoir notre propre jeu vidéo 2D.<br> Pour développer ce dernier, nous avons utilisé des templates en ligne et avons dû le coder en:<br> -C#  </p></div>
    </section>
    <section class="compet2">
      <div class="block2"><h2>Mes compétences en Modélisation 3D ?</h2><p>C'est lors de ma première année à l'IIM que j'ai pu découvrir le monde de la 3D.<br>Cet univers était un monde qui m'intéressait beaucoup et, où après de nombreux projets, j'ai fini par comprendre qu'il fallait avoir suffisamment de patience pour arriver à ses fins.<br>Pendant l'année préparatoire, j'ai pu être initié dans un premier temps à la conception et la modélisation d'un personnage 3D, puis à la mise en place de son squelette, et enfin à l'animation de ce dernier.<br>
      Mon projet de première année était de modéliser ainsi que d'animer le personnage Iden Versio du jeu mondialement connu : Star Wars Battlefront 2.<br>Afin de modéliser/animer notre personnage, nous avions à notre disposition l'application:<br>- 3DS MAX </p></div>
      <div class="block1"><img src="../image/iden.jpg" alt=""></div>
    </section>
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>
</html>