<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Competences - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>

    <div class="cv"><iframe width="560" height="315" src="https://www.youtube.com/embed/sxPTr_4BfEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <section class="compet1">
      <div class="seed1"><img src="../image/code.jpg" alt=""></div>
      <div class="seed2"><h2>Mes compétences en Dévellopement Web ?</h2><p>Depuis maintenant plus d'1 an, je me familliarise avec les langages du web.<br> Encore novice en la matiere, je suis encore en cours d'apprentissage des langages listés ci-dessous,<br>Mon experience et mes connaissances se limitent pour l'instant à ce que j'ai pu apprendre en cours et par mes propres travaux.<br>
      Pour ce qui est des langages front-end,back-end ou encore d'algorithmique que je maitrise, les voici listés :<br>- HTML<br>- CSS<br>- JavaScript<br>- PHP/SQL<br>- Python
      </p></div>
    </section>
    <section class="compet2">
      <div class="block2"><h2>Mes compétences en Création Design ?</h2><p>L'année derniere, lors de mon Année préparatoire, j'ai pu dévelloper certaines compétences dans le domaine de la création & du desisn</p></div>
      <div class="block1"><img src="../image/crea.jpg" alt=""></div>
    </section>
    <section class="compet1">
      <div class="seed1"><img src="../image/unity.jpg" alt=""></div>
      <div class="seed2"><h2>Mes compétences en Jeux Vidéo ?</h2><p>Oui</p></div>
    </section>
    <section class="compet2">
      <div class="block2"><h2>Mes compétences en Modélisation 3D ?</h2><p>Oui</p></div>
      <div class="block1"><img src="../image/iden.jpg" alt=""></div>
    </section>
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>
</html>