<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Projet - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    
    <section class="pres">
        <h2>Site Web Fnatic</h2>

        <div class="compet1">
            <div class="seed1 image-fnc"><img src="../image/fnc.png" alt=""></div>
            <p>Mon premier Site Web,<br>Je l'ai créé lors de mon année préparatoire à l'IIM, soit ma première année (2020-2021).<br>Pour le projet de fin d'année nous avions pour projet de développer un site sur un thème choisi.<br>J'ai donc décidé de sélectionner l'équipe d'E-sport Fnatic, principalement connu de par sa qualité de jeu sur le jeu League of Legends
            <br>Le site devait contenir, une Home page, une page listant les joueurs de l'équipe, l'histoire de cette dernière, ainsi qu'une page Gallery, contact et une page de connexion utilisateur/admin.<br>Pour le développement de mon site, j'ai dû utiliser les langages HTML/CSS pour la réalisation du front-end du site; JS pour les animations, différentes fonctionnalités ainsi que pour la conception d'un dark-mode. Enfin j'ai dû utiliser le PHP/SQL pour lier ma base de données et permettre un système de connexion, administration ainsi qu'un système de commentaire.</p>
        </div>
        <hr>

        <div class="carousel">
            
            <img class="arrow-pres" id="arrowl" src="../image/arrow_left_black.png" alt="">
            
            <video class="gallery_video" src="../image/video-fnatic.mp4" loop muted autoplay></video>
            
            <img class="arrow-pres" id="arrowr" src="../image/arrow_right_black.png" alt="">
                
            
        </div> 
        
    </section>
    
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>
<script src="../js/app.js"></script> 
</html>