<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Projets - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    <section class="projet">
      <div class="content content1 image"><img class="img1" src="../image/Miniature.jpg" alt=""></div>
      <div class="content content2"><h2>Chaine Youtube</h2><p>Projet toujours en cours : création d'une chaine youtube, premiere vidéo déjà sortie</p></div>
      <div class="content content3 "><a href="youtube.html"><div class="redirect"><p>Accéder au projet</p><img class="arrow" src="../image/arrow.png" alt=""></div></a></div>
      <div class="content content4 image"><img class="img2" src="../image/sog.png" alt=""></div>
      <div class="content content5"><h2>Sovereign Gaming</h2><p>Ancien projet : gestion d'une communauté de plus de 1000 joueurs, Sovereign Gaming, pendant plus de 2 ans. Communauté lié à Gmod, différent serveur roleplay dans différents univers</p></div>
      <div class="content content6 "><a href="sovereign.html"><div class="redirect"><p>Accéder au projet</p><img class="arrow" src="../image/arrow.png" alt=""></div></a></div>
      <div class="content content7 image"><img class="img3" src="../image/fnc.png" alt=""></div>
      <div class="content content8"><h2>Site web Fnatic</h2><p>Ancien projet : Création d'un site web sur le theme de Fnatic, projet de fin d'année pour rejoindre l'axe Dev Web IIM</p></div>
      <div class="content content9 "><a href="fnatic.html"><div class="redirect"><p>Accéder au projet</p><img class="arrow" src="../image/arrow.png" alt=""></div></a></div>
      <div class="content content10 image"><img class="img4" src="../image/secret.jpg" alt=""></div>
      <div class="content content11"><h2>Projet Etudiant</h2><p>Sujet du projet rendu secret pour l'instant, projeciton de la création d'une application </p></div>
      <div class="content content12 "><a href="secret.html"><div class="redirect"><p>Accéder au projet</p><img class="arrow" src="../image/arrow.png" alt=""></div></a></div>

      <!-- <div><iframe width="560" height="315" src="https://www.youtube.com/embed/FCWAo_zGz4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
      -->
    </section>
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>
</html>