<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Projet - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    
    <section class="pres">
        <h2>Porjet Secret - En cours de conception</h2>

        <div class="compet1">
            <div class="seed1 image-fnc"><img src="../image/secret.jpg" alt=""></div>
            <p>Pourquoi ce projet est classé secret ?<br>Ce projet est classé secret, car nous sommes présentement 3 jeunes étudiants ayant eu une brillante idée, et nous souhaitons garder cette idée confidentielle pour le moment.<br>Cependant, il m'est tout de même possible de vous détailler le concept sans pour autant dévoiler le projet.<br>Ce projet est une application que nous souhaitons développer, nous sommes trois élèves du pôle dont: 1 de l'ESILV, et 2 de l'IIM (1Dev-web, 1 Créa). Cette application
            a pour principe d'avoir été conçu par et pour les étudiants, ce qui nous permet donc d'avoir une approche viable et adaptée pour notre cible. Malheureusement, le projet étant toujours en conception/développement je ne peux en dire plus quant à son concept.
            </p>
        </div>
        <hr>

        <div class="carousel secret-image">
            <img src="../image/secret.jpg" alt="">
        </div> 
        
    </section>
    
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>

</html>