<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Projet - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    
    <section class="pres">
        <h2>Communauté Sovereign Gaming</h2>

        <div class="compet1">
            <div class="seed1 image-sog"><img src="../image/sog.png" alt=""></div>
            <p>La communauté Sovereign Gaming,<br>est une vieille communauté de plus de 6 ans sur laquelle de nombreux joueurs sont passés et compte désormais plus de 1400 inscrits sur son forum.<br>Cette communauté et groupé autour d'un univers, le RolePlay, sur Garry's mod, et est notamment connu pour son serveur principal : "La République Souveraine" ayant pour thème l'univers de The Clone Wars.<br>
            Pour ce qui est de mon expérience sur cette communauté, je suis arrivé mi-2018 et suis resté dessus pendant une durée de 3 ans. Pendant ces 3 années, j'ai pu servir pendant 2 années dans l'administration avant de la quitter de mon plein gré fin 2020. Au sein de cette dernière j'ai pu me hisser dans l'une des plus hautes sphère de l'administration en atteignant le rang de super administrateur<br>
            Au cours de ces années de "services" j'ai pu développer différentes compétences et notamment des capacités de leadership en menant une équipe de staff, en gérant de nombreux évènements, des réunions, organisant des collaborations avec d'autres communautés, gérant le forum et l'administrant (xenforo pour l'ancien forum).<br>Je dois beaucoup à ce serveur qui m'a permis de développer mon leadership, mon aisance à l'oral et certaines compétences en développement (C#).
            </p>
        </div>
        <hr>

        <div class="carousel sovereign-image">
            <img src="../image/sog2.png" alt="">
        </div> 
        
    </section>
    
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>

</html>