<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Projet - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    
    <section class="pres">
        <h2>Chaine Youtube</h2>

        <div class="compet1">
            <div class="seed1 image-fnc"><img src="../image/Miniature.jpg" alt=""></div>
            <p>Ma chaine Youtube,<br>Depuis maintenant plusieurs mois, je travaille sur de nombreuse vidéos déjà sorties, ou toujours en cours de production<br>Quel type de vidéo ? Depuis que je me suis familiarisé avec l'utilisation d'adobe After Effect, le montage vidéo est devenu un passe-temps pour moi et j'aime accorder de mon temps à ce projet.<br> Sur ma chaine Youtube "Hawkin" n'est disponible actuellement qu'une seule vidéo
              reprenant la célèbre musique Can You Feel My Heart de Bring Me The Horizon, mixée à un montage vidéo de la série : The Clone Wars. <br>Ma chaine Youtube a donc pour principe l'edit de série/film sur des bandes son connues, ce projet est pour l'instant plus une passion, mais si cette chaine venait à prendre un tournant plus important, je réfléchirais à ce moment là à d'autres options. <p>
            
        </div>
        <hr>

        <div class="carousel">
          <iframe  src="https://www.youtube.com/embed/FCWAo_zGz4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        
    </section>
    
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>

</html>