<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur LUCAS - Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1>Projet - Arthur LUCAS</h1>
    <input id="burger" type="checkbox" />
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav>    
      <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="projet.html">Mes Projets</a></li>
        <li><a href="competences.html">Mes compétences</a></li>
      </ul>  
    </nav>
    <header></header>
    
    <section class="pres">
        <h2>New Heroes</h2>

        <div class="compet1">
            <div class="seed1 image-nh"></div>
            <p>L'entreprise New Heroes ,<br> est une nouvelle entreprise créé en mars 2021 qui vise à aider les sportifs en fin de carriere à se reconvertir dans le monde professionnel.<br> C'est en Novembre 2021 que la collaboration IIMxNewHeroes a débuté, ces derniers souhaitaient le développement d'un site internet pour que les sportifs puissent échanger, apprendre et etre accompagné.<br>Basé sur
              des études, nous avons remarqué que 60% du traffic passait par téléphone, afin de répondre à cette demande, nous avons proposé au client de développer un site mobile first; sur Wordpress, car il souhaitait pouvoir avoir accès à une interface administrateur. Ce site devait disposer d'un systeme de blog, et d'échange entre utilisateur (commentaire).<br>
              C'est en développant ce site, en coopération avec mon collegue developpeur, que j'ai pu cultiver des capacités de leadership, travail en équipe, organitsation/gestion du travail et l'optimisation de mon temps. En plus de cela, j'ai appris à développer un site sur le CMS Wordpress et ai pu étayer mes connaissances en HTML,CSS,PHP ainsi que Javascript. 
        </div>
        <hr>

        <div class="carousel">
          <video class="gallery_video" src="../image/NH_video.mp4" controls="controls"></video>
        </div> 
        
    </section>
    
    <footer>
        <p> © 2021 - Portfolio Arthur LUCAS </p>
    </footer>
</body>

</html>